@{
    ViewBag.Title = "Centric's Contact Information!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

    <div>
         <p><a class="btn btn-warning" style="color: purple" href="https://centricconsulting.com/contact/">Click here to contact us&raquo;</a></p>
     </div>