@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron" style="background-color:#b39eb5">
    <h1>Centric Recognizes Core Values</h1>
    <p class="lead">Our core values provide a reliable foundation to help us create innovative solutions for our clients – even when faced with a tough problem.</p>
    <p><a href="https://centricconsulting.com/about-us/why-were-here/" class="btn btn-toolbar btn-lg" style="color:purple">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3" style="margin-left:150px">
        <div class="alert alert-warning" style="color:black">Commit to Delivery Excellence</div>
        <p> Instead of pointing the finger at problems, we – at Centric – ask ourselves what can we do to deliver excellence.</p><br />
    </div>
    <div class="col-md-3">
        <div class="alert alert-warning" style="color:black">Embrace Integrity and Openness</div>
        <p>Once a client starts questioning the integrity of your reporting, trust has been lost. Once trust is lost, losing clients is often close behind.</p>
    </div>
    <div class="col-md-3">
        <div class="alert alert-warning" style="color:black">Practice Responsible Stewardship</div>
        <p> It’s not about billable hours, it’s about doing the right thing. In the long run, our clients will see and appreciate that we value their assets as much as our own.</p>
    </div>
    <div class="col-md-3" style="margin-left:300px">
        <div class="alert alert-warning" style="color:black">Invest in an Exceptional Culture</div>
        <p>We aim to hire and retain talented people from diverse backgrounds who can create a high impact for our clients and internally within our company.</p>
    </div>
    <div class="col-md-3">
        <div class="alert alert-warning" style="color:black">Ignite Passion for the Greater Good</div>
        <p>We take pride in our commitment to improving the world in which we live and actively preserving our environment for future generations</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="margin-left:300px">
        <div class="alert alert-warning"style="color:black">Strive to Innovate</div>
        <p>We pride ourselves in constantly looking for new, breakthrough solutions to solve problems for our clients.</p>
    </div>
    <div class="col-md-3">
        <div class="alert alert-warning"style="color:black">Live a Balanced Life</div>
        <p>In the face of difficult client interactions and situations, our core values at Centric provide us with perspective.</p>
    </div>
</div>